@import './root.scss';

.icon{
    width: 60%;
    max-width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon img{
    width: 100%;
}

